<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blob fish University | <%= title%></title>
    <!--<link rel="stylesheet" href="./styles.css">-->
    <style>
        nav {
            background-color: #F8C8DC;
            text-align: center;
            list-style-type: none;
        }

        nav a {
	        text-decoration: none;
        }
        
        nav ul{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        nav li {
            padding: 1em;
	        width: 100%;
            list-style-type: none;
        }

        footer {
            /*Taken from 
            https://stackoverflow.com/questions/39099295/make-div-stick-to-bottom-of-page*/
            position: fixed;
            bottom: 0;
        }
        
    </style>
</head>