<nav>
    <h1>Blobfish University</h1>
    <h1><%= title%> Page</h1>
    
    <div class="tabHolder">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/courses/create">Create Course</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>