<nav>
    <h1>Blobfish University</h1>
    <h2><%= title%> Page</h2>

    
    <div class="tabHolder">
        <ul>
            <li class="linkButton"><a href="/">Home</a></li>
            <li class="linkButton"><a href="/courses">Courses</a></li>
            <li class="linkButton"><a href="/login">Login</a></li>
            <li class="linkButton"><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>