<nav>
    <h1>Blobfish University</h1>
    <h1><%= title%> Page</h1>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/Signup">Sign Up</a></li>
    </ul>
</nav>