<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header.ejs') %>

<body>
    <%- include('./partials/NavBar.ejs') %>
    <h1>Error 404</h1>
    <p>Sorry, this page doesn't exist.</p>
    
</body>
</html>