<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header.ejs') %>

<body>
    <%- include('./partials/NavBar.ejs') %>
    <h1>Welcome to Blobfish University!</h1>
    <p>Here at Blob U, we strive to make our students strive for excellence with our multi-faceted classes.</p>

    <h1>Our mission</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis fuga molestias molestiae, accusantium dolor in corporis consectetur illum, rerum culpa nemo aperiam impedit cum. Doloribus eveniet voluptatibus labore neque voluptas!</p>
    
    <%- include('./partials/Footer.ejs') %>
</body>
</html>