<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header.ejs') %>
    <style>
        body {
            background-color: #F3CFC6;
        }
    </style>

<body>
    <%- include('./partials/NavBar.ejs') %>
    <h1>Welcome to Blobfish University!</h1>
    <p>Here at Blob U, we strive to make our students strive for excellence with our multi-faceted classes.</p>
    
</body>
</html>