<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header.ejs') %>

<body>
    <%- include('./partials/NavBar.ejs') %>
    <h1>Login</h1>
    <form action="">
        <label for="userName">Username:</label>
        <input type="text" id="userName" name="userName"><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br>
    </form>
    
</body>
</html>