<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Header.ejs') %>

<body>
    <%- include('./partials/NavBar.ejs') %>
    <h1>Login</h1>
    <form action="">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName"><br>

        <label for="secondName">Second Name:</label>
        <input type="text" id="secondName" name="secondName"><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br>

        <label for="passwordRe">Re-enter Password:</label>
        <input type="text" id="passwordRe" name="passwordRe"><br>
    </form>
    
    <%- include('./partials/Footer.ejs') %>
</body>
</html>